::selection {
	background: #b0c4de;
}

.main {
	padding-top: 50px;
}

#screenshot {
	position: absolute;
	border-radius: 5px;
	border: 5px solid #333;
	display: none;
}

.progress {
	margin-top: 10px;
}